POSTGRES_DB=OnlineBookStoreDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

JWT_KEY=change_me_to_a_long_random_secret
JWT_ISSUER=OnlineBookStore.Api
JWT_AUDIENCE=OnlineBookStore.Client
JWT_EXPIRES_IN_MINUTES=60

API_PORT=5177